body {
    background-image: linear-gradient(45deg, #3B806B, lightcyan)
}

#corpo {
    background-color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); /**centralizar**/
    padding: 90px; /**espaço entre as palavras e a borda**/
    border-radius: 15px; /**arredondar as bordas**/
}

div {
    width: 527px;
}

h1 {
    font-family: 'Dosis', sans-serif;
    color: #3B806B;
}

h2 {
    font-family: 'Dosis', sans-serif;
    color: #3B806B;
}

h3 {
    position: absolute;
    color: #595959;
    font-family: 'Poppins', sans-serif;
    width: 200px;
    display: inline-block;
    right: 310px;
}

p {
    color: #595959;
    font-family: 'Poppins', sans-serif;
    right: 310px;
    font-weight: bold;
}

#A1 {
    color: #E9D0A7;
    background-color: white;
    border: 2px solid #E9D0A7;
    width: 70px;
    height: 60px;
    font-family: 'Poppins', sans-serif;
    font-size: 25px;
    border-radius: 15px;
}

    #A1:focus {
        color: white;
        background-color: #E9D0A7;
        border-color: #E9D0A7;
    }

#A2 {
    color: white;
    background-color: #E9D0A7;
    border: 2px solid #E9D0A7;
    width: 70px;
    height: 60px;
    font-family: 'Poppins', sans-serif;
    font-size: 25px;
    border-radius: 15px;
}

    #A2:focus {
        color: #E9D0A7;
        background-color: white;
        border-color: #E9D0A7;
    }



#B1 {
    color: #ECAAA6;
    background-color: white;
    border: 2px solid #ECAAA6;
    width: 70px;
    height: 60px;
    font-family: 'Poppins', sans-serif;
    font-size: 25px;
    border-radius: 15px;
}

    #B1:focus {
        color: white;
        background-color: #ECAAA6;
        border-color: #ECAAA6;
    }

#B4 {
    color: white;
    background-color: #ECAAA6;
    border: 2px solid #ECAAA6;
    width: 70px;
    height: 60px;
    font-family: 'Poppins', sans-serif;
    font-size: 25px;
    border-radius: 15px;
}

    #B4:focus {
        color: #ECAAA6;
        background-color: white;
        border-color: #ECAAA6;
    }

#C1 {
    color: #FEAA86;
    background-color: white;
    border: 2px solid #FEAA86;
    width: 70px;
    height: 60px;
    font-family: 'Poppins', sans-serif;
    font-size: 25px;
    border-radius: 15px;
}

    #C1:focus {
        color: white;
        background-color: #FEAA86;
        border-color: #FEAA86;
    }


#C01 {
    color: white;
    background-color: #FEAA86;
    border: 2px solid #FEAA86;
    width: 70px;
    height: 60px;
    font-family: 'Poppins', sans-serif;
    font-size: 25px;
    border-radius: 15px;
}

    #C01:focus {
        color: #FEAA86;
        background-color: white;
        border-color: #FEAA86;
    }


#D1 {
    color: #D3B0CC;
    background-color: white;
    border: 2px solid #D3B0CC;
    width: 70px;
    height: 60px;
    font-family: 'Poppins', sans-serif;
    font-size: 25px;
    border-radius: 15px;
}

    #D1:focus {
        color: white;
        background-color: #D3B0CC;
        border-color: #D3B0CC;
    }

#E1 {
    color: white;
    background-color: #A0DCEA;
    border: 2px solid #A0DCEA;
    width: 70px;
    height: 60px;
    font-family: 'Poppins', sans-serif;
    font-size: 25px;
    border-radius: 15px;
}

    #E1:focus {
        color: #A0DCEA;
        background-color: white;
        border-color: #A0DCEA;
    }

#E3 {
    color: #A0DCEA;
    background-color: white;
    border: 2px solid #A0DCEA;
    width: 70px;
    height: 60px;
    font-family: 'Poppins', sans-serif;
    font-size: 25px;
    border-radius: 15px;
}

    #E3:focus {
        color: white;
        background-color: #A0DCEA;
        border-color: #A0DCEA;
    }



#F1 {
    color: #BAD5D2;
    background-color: white;
    border: 2px solid #BAD5D2;
    width: 70px;
    height: 60px;
    font-family: 'Poppins', sans-serif;
    font-size: 25px;
    border-radius: 15px;
}

    #F1:focus {
        color: white;
        background-color: #BAD5D2;
        border-color: #BAD5D2;
    }

#G1 {
    color: #B3B1AE;
    background-color: white;
    border: 2px solid #B3B1AE;
    width: 70px;
    height: 60px;
    font-family: 'Poppins', sans-serif;
    font-size: 25px;
    border-radius: 15px;
}

    #G1:focus {
        color: white;
        background-color: #B3B1AE;
        border-color: #B3B1AE;
    }

#ajuda {
    position: absolute;
    right: 18px;
    top: 16px;
    cursor: pointer;
}
