body {
    background-image: linear-gradient(45deg, #3B806B, lightcyan)
}

#corpo {
    background-color: white;
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%); /**centralizar**/
    padding: 90px; /**espaço entre as palavras e a borda**/
    border-radius: 15px; /**arredondar as bordas**/
}

div {
    width: 527px;
}

h1 {
    color: #3B806B;
    font-family: 'Dosis', sans-serif;
    font-size: 40px;
    line-height: 0px;
}

h2 {
    font-family: 'Dosis', sans-serif;
    color: #3B806B;
    margin: 11px
}

input {
    padding: 8px; /*grossura*/
    width: 250px;
    border: none;
    border-radius: 5px;
    outline: none;
    font-size: 15px;
    font-family: 'Poppins', sans-serif;
    background-color: #EFEFEF;
}

#A1 {
    color: #E9D0A7;
    background-color: white;
    border: 2px solid #E9D0A7;
    width: 70px;
    height: 60px;
    font-family: 'Poppins', sans-serif;
    font-size: 25px;
    border-radius: 15px;
}

    #A1:focus {
        color: white;
        background-color: #E9D0A7;
        border-color: #E9D0A7;
    }

#B1 {
    color: #ECAAA6;
    background-color: white;
    border: 2px solid #ECAAA6;
    width: 70px;
    height: 60px;
    font-family: 'Poppins', sans-serif;
    font-size: 25px;
    border-radius: 15px;
}

    #B1:focus {
        color: white;
        background-color: #ECAAA6;
        border-color: #ECAAA6;
    }

#C1 {
    color: #FEAA86;
    background-color: white;
    border: 2px solid #FEAA86;
    width: 70px;
    height: 60px;
    font-family: 'Poppins', sans-serif;
    font-size: 25px;
    border-radius: 15px;
}

    #C1:focus {
        color: white;
        background-color: #FEAA86;
        border-color: #FEAA86;
    }

#D1 {
    color: #D3B0CC;
    background-color: white;
    border: 2px solid #D3B0CC;
    width: 70px;
    height: 60px;
    font-family: 'Poppins', sans-serif;
    font-size: 25px;
    border-radius: 15px;
}

    #D1:focus {
        color: white;
        background-color: #D3B0CC;
        border-color: #D3B0CC;
    }


#D2 {
    color: white;
    background-color: #D3B0CC;
    border: 2px solid #D3B0CC;
    width: 70px;
    height: 60px;
    font-family: 'Poppins', sans-serif;
    font-size: 25px;
    border-radius: 15px;
}

    #D2:focus {
        color: #D3B0CC;
        background-color: white;
        border-color: #D3B0CC;
    }



#E1 {
    color: #A0DCEA;
    background-color: white;
    border: 2px solid #A0DCEA;
    width: 70px;
    height: 60px;
    font-family: 'Poppins', sans-serif;
    font-size: 25px;
    border-radius: 15px;
}

    #E1:focus {
        color: white;
        background-color: #A0DCEA;
        border-color: #A0DCEA;
    }

#F1 {
    color: #BAD5D2;
    background-color: white;
    border: 2px solid #BAD5D2;
    width: 70px;
    height: 60px;
    font-family: 'Poppins', sans-serif;
    font-size: 25px;
    border-radius: 15px;
}

    #F1:focus {
        color: white;
        background-color: #BAD5D2;
        border-color: #BAD5D2;
    }

#G1 {
    color: #B3B1AE;
    background-color: white;
    border: 2px solid #B3B1AE;
    width: 70px;
    height: 60px;
    font-family: 'Poppins', sans-serif;
    font-size: 25px;
    border-radius: 15px;
}

    #G1:focus {
        color: white;
        background-color: #B3B1AE;
        border-color: #B3B1AE;
    }

#privacidade {
    position: absolute;
    margin: 8px;
}

#ajuda {
    position: absolute;
    right: 18px;
    top: 16px;
}

button {
    border: none;
    width: 100%; /**largura**/
    border-radius: 10px; /**arredondar a borda**/
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
    font-weight: bold;
    background-color: #3B806B;
    color: white;
}

    button:hover {
        background-color: #7C9F8E;
        cursor: pointer;
    }

#Editar {
    margin-left: 40px;
    position: absolute;
}

a.botao{
  color: white;
  text-decoration: none;
}

a.titulo {
    font-family: 'Dosis', sans-serif;
    color: #3B806B;
    text-decoration: none;
}

div.bloco {
   heigh
}

    /* espaçamento para img dentro do div bloco */
    div.bloco img {
        padding: 16px 5px;
        cursor: pointer;
        width: 25px;
        display: block;
        transform: translate(692%, -108%);
    }

.cadastrar {
    border: none;
    padding: 13px; /** dist entre os elementos e a borda**/
    width: 100%; /**largura**/
    border-radius: 10px; /**arredondar a borda**/
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
    font-weight: bold;
    background-color: #3B806B;
    color: white;
}

.digitalizar {
    font-family: 'Poppins', sans-serif;
    background-color: #DDD; /*grossura*/
    width: 250px;
    border-radius: 5px;
    outline: none;
    font-size: 15px;
    border: none;
    border-radius: 10px;
}
